.above-footer-mission-stat{

	// @include screen($m){
	// 	margin-bottom:480px;
	// }

	// @include screen(medium){
	// 	@include span(6 of 12);
	// }

	&__logo{
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 18px;
		text-align:center;
		font-size: 20px;
		font-weight:600;
		margin-bottom:30px;
	}

	&__text{
		max-width:600px;
		color:white;
		font-size: 1.1em;
		line-height:30px;
		text-align:center;
		margin: 0 auto;
		font-family: $h-font;
		color:lighten($d-grey, 20%);
	}

	.wrapper{
		padding:0 20px;
	}
}
