

// border button
.btn-border{
	border:2px solid white;
	border-radius:40px;
	padding:14px 24px;
	display:block;
}


$button-width: 300px;

.enquire-sub-nav-button{
	font-size:em(13px);
	font-family:$h-font;
	font-weight:400;
	padding: 25px 25px;
    // border-radius: 30px;
    letter-spacing: 0.06em;
 	background:#3C3C3C;
 	text-transform:uppercase;
    cursor: pointer;

    &:hover{
    	// @include linearGradient(#0756CC, #1B6FEC);
    	background:$mitap-green;
    	color:#38524D;
    }
}

.light-border-button, .dark-border-button, .light-full-button, .dark-full-button{
	// font-size:em(12px);
	// font-family:$c-font;
	// text-transform: uppercase;
	// padding:14px 24px;
	// border-radius:16px;
	// // border: 1px solid black;
	// background: #82C7BA;
	// letter-spacing:0.09em;
	// cursor:pointer;


	transition: background-color 0.4s ease-in-out, background 0.4s ease-in-out;


	.feedback {
        position: absolute;
        width: $button-width * 2;
        height: $button-width * 2;
        background-color: rgba(white, 0.5);
        left: 0;
        top: 0;
        border-radius: 50%;
        margin-left: - $button-width;
        margin-top: - $button-width;
        transform: scaleX(0) scaleY(0);
    }
}

.light-full-button,{
	font-size:em(12px);
	font-family:$h-font;
	text-transform: uppercase;
	padding:16px 24px;
	border-radius:30px;
	color:#38524D;
	letter-spacing:0.09em;
	cursor:pointer;
	background:$mitap-green;
	display:block;
	float:left;
	font-weight:500;

	&:hover{
		background:white;
		color: darken($mitap-green, 10%);
	}
}

.dark-full-button, .dark-border-button{
	color:#0C9AAA;
	border-color:#C3E6EA;
}

.small-button{

}

.large-button{

}