.footer{
	position:relative;
	font-family:$c-font;
	background: #0e0e0e;
	color:white;
	width:100%;
	padding-bottom:80px;
	overflow: hidden;

	@include screen(medium){
		padding-bottom:0px;
	}

	&__water-splashes{
		position:absolute;
		width:100%;
		top:0;
		opacity:0.6;


		&--1{
			position: absolute;
			width:400px;
			left:10%;
			top:0px;

			img{
				transform:rotate(-20deg);
				width:100%;
				height:auto;
			}
		}

		&--2{
			position: absolute;
			width:600px;
			right:10%;
			top:0px;
		}

	}

	&__links-container{
		position:relative;

		&--links-visible{

			.footer{

				&__links{
					visibility: visible;
					opacity:1;
					transform: translateY(0);

					&:after{
						transform: translateY(0);
					}
				}

				&__links-btn{

					i{
						transform:rotate(180deg);
					}
				}
			}
		}
	}


	&__links-btn{
		display: block;
		margin: 40px auto;
		border: 1px solid #757575;
		padding:19px 45px 18px 45px;
		border-radius:30px;
		cursor: pointer;

		p{
			float:left;
			color:white;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		i{
			float:left;
			margin-left:15px;
			width:15px;
			height:15px;
			transition: transform .25s ease-in-out;
		}
	}

	&__links{
		visibility: hidden;
		opacity:0;
		position: absolute;
		border-radius:6px;
		bottom:0;
		width:480px;
		background:white;
		padding:20px;
		left:50%;
		right:50%;
		bottom:73px;
		margin-left:-240px;
		transform: translateY(30px);

		transition: all .25s ease-in-out;

		&:after{
			content:"";
			position:absolute;
			width: 0;
  		height: 0;
  		border-left: 20px solid transparent;
  		border-right: 20px solid transparent;
  		border-top: 20px solid white;
			bottom:-18px;
			z-index: 2;
			left:50%;
			right:50%;
			margin-left:-15px;
			transform: translateY(-15px);
			transition: transform .3s ease-in-out;
		}

		ul{
			float:left;
			width:220px;
			padding:20px;

			li{
				&:nth-child(1){
					margin-bottom:15px;
					color:black;
				}
				a{
					color:#898989;
				}
			}
		}

		&__pages{
			float:left;
			margin-left:60px;
		}

		&__link{
			padding-bottom:14px;
			color:#898989;
		}
	}

	// @include screen($m){
	// 	position:fixed;
	// 	height:480px;
	// 	bottom:0;
	// 	z-index:-2;
	// }

	.wrapper{
		padding-bottom: 20px;
		position:relative;

		@include screen(medium){
			padding-top:80px;
		}
	}

	&-site-links__button{
		color:white;
	}

	.copyright__text{
		color:white;
		color:#8e8e8e;
		font-size: 0.75em;
		margin-top:15px;
		text-align:center;
	}

	.social-links{
		width:100%;

		@include screen(medium){
			width:auto;
			float:right;
		}
	}

	&__small-footer{
		padding-top:30px;

		@include screen(medium){
			padding:25px 0 5px 0;
		}

		&__copyright{
			text-align: center;
		}
	}

	&__contact-details{
		position:relative;
		@include clearfix;
		text-align: center;
		margin: 40px auto 0 auto;
		max-width: 1000px;

		&__title{
			margin-bottom:60px;
		}

		&__tele-no{
			text-align:center;
			font-size: em(30px);
			font-size: 1.875em;
			position: static;
			margin-bottom:20px;

			@include screen(medium){
				// position: absolute;
				// left:0;
				// bottom: 100px;
				width: 100%;
				margin-bottom:15px;
			}

			p{
				font-weight: 100;
				color:white;
				letter-spacing: 1px;
			}

			.underline{
				background:#535353;
				height:1px;
				margin: 10px auto 26px auto;
			}
		}

		&__email{
			text-align:center;
			margin: 0 auto;
			display:block;
		}


		&__address{
			width:100%;
			display: inline-block;
			float:none !important;

			@include screen(medium){
				@include span(2 of 12);

			}

			&__location{
				text-transform: uppercase;
				color:white;
				letter-spacing: 1px;
				font-size:em(14px);
				margin-bottom:6px;
				color:white;
			}


			// &--main-address{
			// 	width:100%;
			// 	margin:30px 0;
			// 	font-size: em(20px);
			// 	text-align: center;
			// }
		}
	}

}
