.more-products{
	padding-top:40px;
	background:black;
	border-top:1px solid #191919;

	&:hover{
		.other-products{
			&__product{
				opacity:0.6;
			}
		}

	}

	&__title{
		color:white;
		text-align:center;
	}

	.wrapper{
		max-width:1000px;
	}

}

.other-products{
  margin: 0 auto;
  padding:60px 20px 20px 20px;
  @include clearfix;

	&__product{
		position:relative;
		@include layout( 12 0 fluid float inside);
		@include span(12 of 12);
		color:white;
		overflow:hidden;
		margin-bottom:20px;
		transform: scale(0.9);


		&:hover{
			opacity:1 !important;

			.other-products__product__image{
				transform: scale(1);
			}
		}

		@include screen(medium){
			@include span(4 of 12);

			transition: all .25s ease-in-out;
		}

		&__image{
			display: inline-block;
			max-width:240px;
			margin: 0 auto;
    	display: block;
			transform: scale(0.92);
			transform-origin: bottom;
			transition: transform .3s ease-in-out;


			&:nth-child(2){
				float:right;
			}
		}

		&__text-container{
			position:relative;
			width:100%;
			text-align:center;
			z-index: 0;

			@include screen(medium){
				padding:0em 2em;
			}

		}
	}
}
